<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KChat.DbOption.Mapper.ChatMessageMapper">
    <select id="getChatMessages" resultType="KChat.Entity.VO.ChatMessageVO">
        select cm.id,cm.userId,cm.contactId,u.nickname as contactName,u.avatar as contactAvatar,
        cm.content,cm.fileName,cm.fileSize,cm.type,cm.time from User u
        join ChatMessage cm on cm.contactId = u.id
        <where>
                <if test="userId!=contactId">
                    (cm.userId = #{userId} and cm.contactId = #{contactId})
                         or (cm.userId = #{contactId} and cm.contactId=#{userId})
                </if>
            <if test="userId==contactId">
            cm.userId = #{userId} and cm.contactId = #{contactId}
            </if>
        </where>
         order by cm.time
    </select>

    <select id="getGroupMessages" resultType="KChat.Entity.VO.ChatMessageVO">
        select cm.id,cm.userId,cm.contactId,u.nickname as contactName,u.avatar as contactAvatar,
               cm.content,cm.fileName,cm.fileSize,cm.type,cm.time from User u
               join ChatMessage cm on cm.contactId like 'G%' and cm.userId = u.id
             where cm.contactId = #{groupId}
        order by cm.time
    </select>

    <select id="getUnReadCounts" resultType="KChat.Entity.VO.MsgUnReadVO">
        select hm.id as headMessageId,count(1) as unReadCount from HeadMessage hm
            left join ChatMessage cm on hm.userId = cm.contactId and hm.contactId = cm.userId
        where cm.handled = 0 and hm.userId = #{userId}
        group by hm.id
        union
        select hm.id as headMessageId,count(1) as unReadCount from HeadMessage hm
            left join ChatMessage cm on hm.userId = cm.userId
        where cm.handled = 0 and hm.userId = #{userId}
          and cm.contactId like 'G%'
        group by hm.id
    </select>
</mapper>