<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KChat.DbOption.Mapper.ChatMessageMapper">
    <select id="getChatMessages" resultType="KChat.Entity.VO.ChatMessageVO">
        select cm.id,mr.userId,mr.contactId,u.nickname as contactName,u.avatar as contactAvatar,mr.id as recordId,
        cm.content,cm.fileName,cm.fileSize,mr.filePath,cm.type,cm.time,mr.downloaded from User u
          join MessageRecord mr on mr.contactId = u.id
             join ChatMessage cm on cm.id = mr.messageId
          <where>
           <if test="userId!=contactId">
              ((mr.userId = #{userId} and mr.contactId = #{contactId} and mr.userSent = 1)
               or (mr.userId = #{contactId} and mr.contactId = #{userId} and mr.userSent = 0))
             </if>
            <if test="userId==contactId">
                mr.userId = #{userId} and mr.contactId = #{contactId}
            </if>
          </where>
         order by cm.time
    </select>

    <select id="getGroupMessages" resultType="KChat.Entity.VO.ChatMessageVO">
        select cm.id,mr.userId,mr.groupId as contactId,u.nickname as contactName,u.avatar as contactAvatar,mr.id as recordId,
               cm.content,cm.fileName,mr.filePath,cm.fileSize,cm.type,cm.time,mr.downloaded from ChatMessage cm
               join GroupMessageRecord mr on cm.id = mr.messageId
                 join User u on u.id = mr.userId
             where mr.groupId = #{groupId} and mr.memberId = #{userId}
        order by cm.time
    </select>

    <select id="getUnReadCounts" resultType="KChat.Entity.VO.MsgUnReadVO">
        select hm.id as headMessageId,count(1) as unReadCount from HeadMessage hm
            join MessageRecord mr on mr.userId = hm.userId and mr.contactId = hm.contactId
               join ChatMessage cm on cm.id = mr.messageId
                 where cm.handled = 0 and hm.userId = #{userId}
           group by hm.id
        union
        select hm.id as headMessageId,count(1) as unReadCount from HeadMessage hm
                join GroupMessageRecord mr on mr.userId = hm.userId and mr.groupId = hm.contactId
                  join ChatMessage cm on cm.id = mr.messageId
                   where cm.handled = 0 and hm.userId = #{userId} and mr.userId != #{userId}
                            and hm.contactId like 'G%'
           group by hm.id
    </select>
</mapper>