<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KChat.DbOption.Mapper.HeadMessageMapper">
    <insert id="batchInsert">
        insert into HeadMessage values
        <foreach collection="messages" item="m" separator="," >
            (null,#{m.userId},#{m.contactId},#{m.content},#{m.time})
        </foreach>
    </insert>

    <select id="getHeadMessages" resultType="KChat.Entity.VO.HeadMessageVO">
      select hm.id,hm.content,hm.contactId,u.nickname as contactName,u.avatar as contactAvatar,hm.time
        from User u join HeadMessage hm on u.id = hm.contactId
                 where hm.userId = #{userId}
     union
      select hm.id,hm.content,hm.contactId,g.name as contactName,g.avatar as contactAvatar,hm.time
        from UserGroup g join HeadMessage hm on g.id = hm.contactId
          where hm.userId = #{userId}
    </select>

</mapper>