<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KChat.DbOption.Mapper.UserApplyMapper">
    <select id="getUserApplies" resultType="KChat.Entity.VO.UserApplyVO">
        select ua.id as applyId,ua.info,ua.time,u.nickname as contactName,u.avatar as contactAvatar,
                ua.contactId,ua.status from User u
                   join UserApply ua on ua.contactId = u.id
                  where ua.userId = #{userId} order by ua.time desc
    </select>

    <select id="getGroupApplies" resultType="KChat.Entity.VO.GroupApplyVO">
       select g.id as groupId,g.avatar as groupAvatar,g.name as groupName,ua.status,ua.info,ua.time,ua.id as applyId,
              g.currentCount as groupMemberCount,g.size as groupSize,gc.status as contactStatus
                 from UserGroup g join UserApply ua on g.id = ua.contactId
                    join GroupContact gc on g.id = gc.groupId
                   where ua.userId = #{userId} order by ua.time desc
    </select>
</mapper>