<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KChat.DbOption.Mapper.UserContactMapper">
    <select id="getFriends" resultType="KChat.Entity.VO.UserInfoVO">
        select u.id,u.nickname,uc.remark,u.signature,u.account,u.avatar,l.id as labelId,l.name as labelName,
               u.email,u.gender from User u
           join UserContact uc on u.id = uc.contactId
            join ContactLabel l on l.id = uc.labelId
        where uc.userId = #{userId} and uc.status not in(3,5)
    </select>
</mapper>